<template>
  <XFlex direction="column" gap="0.8rem" :width="width" :m="margin">
    <XLabel
      v-if="label || labelIcon || required"
      :id-for="id || label ? label.split(' ').join('-') : undefined"
      :required="required"
      :icon="labelIcon"
      :color="labelColor"
      >{{ label }}
    </XLabel>
    <div class="input">
      <slot></slot>
    </div>
    <XMessage
      v-if="hintText || errorMsg || successMsg"
      :hint="hintText"
      :error-msg="errorMsg"
      :success-msg="successMsg"
    />
  </XFlex>
</template>

<script setup lang="ts">
import XLabel from "@/components/old/XLabel.vue";
import XMessage from "@/components/old/XMessage.vue";
import XFlex from "@/components/old/XFlex.vue";
import { withDefaults } from "vue";

interface Props {
  margin?: string;
  width?: string;
  id?: string | unknown;
  label?: string;
  labelIcon?: string;
  labelColor?: "secondary" | "primary";
  required?: boolean;
  hintText?: string;
  errorMsg?: string;
  successMsg?: string;
}

// eslint-disable-next-line no-undef
withDefaults(defineProps<Props>(), {
  width: "100%",
  required: false,
});
</script>

<style scoped lang="scss">
.input {
  position: relative;
  width: 100%;
}
</style>
