<template>
  <component :is="tag" :class="[type, color, { bold, italic, inline }]">
    <slot></slot>
  </component>
</template>

<script setup lang="ts">
import { computed } from "vue";
import { textType } from "@/stores/gds/uiStore";

interface Props {
  type?: textType;
  bold?: boolean;
  italic?: boolean;
  inline?: boolean;
  color?: "primary" | "secondary" | "tertiary";
}

// eslint-disable-next-line no-undef
const props = withDefaults(defineProps<Props>(), {
  bold: false,
  italic: false,
  inline: false,
  color: "primary",
});

const tag = computed(() => {
  if (props.type === "h1") return "h1";
  else if (props.type === "h2") return "h2";
  else if (props.type === "h3") return "h3";
  else if (props.type === "h4") return "h4";
  else if (props.type === "h5") return "h5";
  else if (props.type === "h6") return "h6";
  else return "p";
});

const color = computed(() => {
  if (props.color === "primary") return "content1";
  else if (props.color === "secondary") return "content2";
  else if (props.color === "tertiary") return "content3";
  return "content1";
});
</script>

<style scoped lang="scss">
.content1 {
  color: var(--ui-content1);
}

.content2 {
  color: var(--ui-content2);
}

.content3 {
  color: var(--ui-content3);
}

.inline {
  display: inline-block;
}
</style>
