<template>
  <router-link
    v-if="to"
    ref="XButton"
    :to="to"
    :class="[
      `button-${type}`,
      textClass,
      size,
      textColor,
      { disabled, icon, rounded, bold, italic, underline },
    ]"
  >
    <span v-if="iconLeft && !icon" class="material-icons">{{ iconLeft }}</span>
    <slot v-if="!icon" ref="slot"></slot>
    <span v-else-if="icon" class="material-icons">{{ icon }}</span>
    <span v-if="iconRight && !icon" class="material-icons">{{
      iconRight
    }}</span>
  </router-link>
  <component
    v-else
    ref="XButton"
    :is="tag"
    :href="href"
    :target="href ? target : undefined"
    :disabled="disabled ? disabled : undefined"
    :class="[
      `button-${type}`,
      textClass,
      size,
      textColor,
      { disabled, icon, rounded, bold, italic, underline },
    ]"
  >
    <span v-if="iconLeft && !icon" class="material-icons">{{ iconLeft }}</span>
    <slot v-if="!icon" ref="slot"></slot>
    <span v-else-if="icon" class="material-icons">{{ icon }}</span>
    <span v-if="iconRight && !icon" class="material-icons">{{
      iconRight
    }}</span>
  </component>
</template>

<script setup lang="ts">
import { computed, onMounted, ref } from "vue";
import { spacingType, textType, useUIStore } from "@/stores/gds/uiStore";
const store = useUIStore();
const { reactiveStyles, getMargin } = store;

interface Props {
  size?: "large" | "medium" | "small";
  type?: "primary" | "secondary" | "borderless" | "text";
  textType?: textType;
  textColor?: "primary" | "content1" | "content2" | "content3" | undefined;
  bold?: boolean;
  italic?: boolean;
  underline?: boolean;
  width?: string;
  icon?: string;
  iconRight?: string;
  iconLeft?: string;
  rounded?: boolean;
  to?: string | object;
  href?: string;
  target?: "_self" | "_blank" | "_parent" | "_top";
  disabled?: boolean;
  m?: spacingType;
  mT?: spacingType;
  mR?: spacingType;
  mB?: spacingType;
  mL?: spacingType;
  mV?: spacingType;
  mH?: spacingType;
}

// eslint-disable-next-line no-undef
const props = withDefaults(defineProps<Props>(), {
  size: "medium",
  type: "secondary",
  width: "fit-content",
  rounded: false,
  target: "_blank",
  disabled: false,
  underline: false,
});

/* eslint-disable vue/return-in-computed-property */
const buttonHeight = computed(() => {
  if (props.size === "large") return "5.2rem";
  if (props.size === "medium") return "4rem";
  if (props.size === "small") return "2.8rem";
});
const buttonWidth = computed(() => {
  if (props.icon) return buttonHeight.value;
  return props.width;
});

const textClass = computed(() => {
  if (props.type === "text") {
    return props.textType;
  } else {
    if (props.size === "large") return "h4";
    if (props.size === "medium") return "h5";
    if (props.size === "small") return "h6";
  }
});

const color = computed(() => {
  if (props.textColor) {
    if (props.textColor === "primary") return `var(--primary-base)`;
    else return `var(--ui-${props.textColor})`;
  } else {
    return undefined;
  }
});

const boxShadow = computed(() => {
  if (props.underline && props.type === "text")
    return `0 0.1rem 0 ${color.value}`;
  return undefined;
});

const to = computed(() => {
  if (props.disabled) return "";
  return props.to;
});
const href = computed(() => {
  if (props.disabled) return "";
  return props.href;
});

const tag = computed(() => {
  if (props.href) return "a";
  return "button";
});

const XButton = ref();
onMounted(() => {
  reactiveStyles(props.to ? XButton.value.$el : XButton.value, {
    width: buttonWidth,
    margin: getMargin(props),
    color,
    boxShadow,
  });
});
</script>

<style scoped lang="scss">
a,
a:link,
a:visited,
button {
  border: none;
  border-radius: var(--radius);

  font-family: var(--sans-serif);
  text-decoration: none;
  cursor: pointer;
  user-select: none;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  transition: all 0.18s;
}

.icon.rounded {
  border-radius: 9999rem;
}

a:focus-visible,
button:focus-visible:enabled {
  outline: var(--border) var(--primary-base);
  outline-offset: 0.2rem;
  transition: 0s;
}

a:disabled,
button:disabled {
  cursor: default;
}

//BUTTON SIZES
.large {
  height: 5.2rem;
  padding: var(--s3) var(--s4);
  gap: var(--s2);

  &.icon {
    width: 5.2rem;
  }

  span {
    font-size: var(--s6);
  }
}

.medium {
  height: 4rem;
  padding: var(--s2) var(--s3);
  gap: var(--s2);

  &.icon {
    width: 4rem;
  }

  span {
    font-size: var(--s5);
  }
}

.small {
  height: 2.8rem;
  padding: var(--s) var(--s2);
  gap: var(--s);

  &.icon {
    width: 2.8rem;
  }

  span {
    font-size: var(--s4);
  }
}

// BUTTON TYPES - Primary
.button-primary {
  background: var(--primary-base);
  box-shadow: var(--shadow2);
  color: var(--white);

  span {
    color: var(--white);
  }
}

a.button-borderless:hover,
a.button-borderless:focus-visible,
.button-primary:hover:enabled {
  background-color: var(--primary-hover);
}

a.button-primary:active,
.button-primary:active:enabled {
  background-color: var(--primary-pressed);
}

a.button-primary.disabled,
.button-primary:disabled {
  background-color: var(--primary-disabled);
  color: var(--white-disabled);

  span {
    color: var(--white-disabled);
  }
}

// BUTTON TYPES - Secondary
a:link.button-secondary,
a:visited.button-secondary,
.button-secondary {
  background: var(--ui-bg-primary);
  color: var(--ui-content1);
  border: var(--border) var(--ui-border);
  box-shadow: var(--shadow1);

  span {
    color: var(--ui-content1);
  }
}

a:hover.button-secondary:enabled,
a.button-secondary:focus-visible,
.button-secondary:hover:enabled,
.button-secondary:focus-visible:enabled {
  background: var(--ui-bg-secondary);
}

a.button-secondary:active,
.button-secondary:active:enabled {
  background: var(--ui-bg-primary);
}

a:link.button-secondary:disabled,
.button-secondary:disabled {
  color: var(--ui-content1-disabled);
  background: var(--ui-bg-primary-disabled);
  border: var(--border) var(--ui-border-disabled);

  span {
    color: var(--ui-content1-disabled);
  }
}

// BUTTON TYPES - Borderless
.button-borderless {
  background: none;
  color: var(--primary-base);

  span {
    color: var(--primary-base);
  }
}

a.button-borderless:hover,
a.button-borderless:focus-visible,
.button-borderless:hover:enabled,
.button-borderless:focus-visible:enabled {
  background: var(--primary-bg);
}

a.button-borderless:active,
.button-borderless:active:enabled {
  color: var(--primary-pressed);
  background: none;
}

a.button-borderless.disabled,
.button-borderless:disabled {
  color: var(--primary-disabled);

  span {
    color: var(--primary-disabled);
  }
}

.button-text.underline:hover {
  box-shadow: 0 0.1rem 0 transparent;
}

.button-text {
  background: none;
  padding: 0;
  height: fit-content;
  border-radius: 0;
  &.primary span,
  &.primary {
    color: var(--primary-base);
  }
  &.primary:hover {
    color: var(--primary-hover);
  }
  &.primary:active {
    color: var(--primary-pressed);
  }
  &.content1 span,
  &.content1 {
    color: var(--ui-content1);
  }
  &.content1:hover {
    color: var(--ui-content2);
  }
  &.content2 span,
  &.content2 {
    color: var(--ui-content2);
  }
  &.content2:hover {
    color: var(--ui-content1);
  }
  &.content3 span,
  &.content3 {
    color: var(--ui-content3);
  }
  &.content3:hover {
    color: var(--ui-content2);
  }
}
</style>
