<template>
  <div ref="XFlex">
    <slot></slot>
  </div>
</template>

<script setup lang="ts">
import { computed, onMounted, ref, toRef } from "vue";
import { useUIStore, spacingType } from "@/stores/gds/uiStore";
const store = useUIStore();
const { reactiveStyles, getMargin, getPadding } = store;

interface Props {
  direction?: "row" | "row-reverse" | "column" | "column-reverse";
  wrap?: "nowrap" | "wrap" | "wrap-reverse";
  alignMain?:
    | "flex-start"
    | "flex-end"
    | "center"
    | "space-between"
    | "space-around"
    | "space-evenly";
  alignCross?: "stretch" | "flex-start" | "flex-end" | "center" | "baseline";
  align?: "flex-start" | "flex-end" | "center" | string;
  alignFlex?:
    | "normal"
    | "flex-start"
    | "flex-end"
    | "center"
    | "space-between"
    | "space-around"
    | "space-evenly"
    | "stretch";
  gap?: string; // Any valid css value
  columnGap?: string; // Any valid css value
  rowGap?: string; // Any valid css value
  inline?: boolean;
  height?: string;
  width?: string;
  m?: spacingType;
  mT?: spacingType;
  mR?: spacingType;
  mB?: spacingType;
  mL?: spacingType;
  mV?: spacingType;
  mH?: spacingType;
  p?: spacingType;
  pT?: spacingType;
  pR?: spacingType;
  pB?: spacingType;
  pL?: spacingType;
  pV?: spacingType;
  pH?: spacingType;
}

// eslint-disable-next-line no-undef
const props = defineProps<Props>();
const display = computed(() => {
  return props.inline ? "inline-flex" : "flex";
});

const gap = computed(() => {
  if (props.rowGap || props.columnGap) {
    return props.rowGap + " " + props.columnGap;
  } else if (props.gap === "gap") {
    return "var(--gap)";
  } else if (props.gap !== "0") {
    return props.gap;
  } else {
    return undefined;
  }
});

const justifyContent = computed(() => {
  return props.align || props.alignMain;
});
const alignItems = computed(() => {
  return props.align || props.alignCross;
});

const XFlex = ref();
onMounted(() => {
  reactiveStyles(XFlex.value, {
    display,
    flexDirection: toRef(props, "direction"),
    flexWrap: toRef(props, "wrap"),
    justifyContent,
    alignItems,
    alignContent: toRef(props, "alignFlex"),
    gap,
    height: toRef(props, "height"),
    width: toRef(props, "width"),
    margin: getMargin(props),
    padding: getPadding(props),
  });
});
</script>
