<template>
  <div ref="XGrid">
    <slot></slot>
  </div>
</template>

<script setup lang="ts">
import { computed, onMounted, ref, toRef } from "vue";
import { spacingType, useUIStore } from "@/stores/gds/uiStore";

const store = useUIStore();
const { reactiveStyles, getMargin, getPadding } = store;

type alignGrid =
  | "start"
  | "end"
  | "center"
  | "stretch"
  | "space-around"
  | "space-between"
  | "space-evenly";

type align = "start" | "end" | "center" | "stretch";

interface Props {
  inline?: boolean;
  columns?: string | number;
  rows?: string | number;
  gap?: "gap" | string; // Any valid css value
  columnGap?: "gap" | string; // Any valid css value
  rowGap?: "gap" | string; // Any valid css value
  align?: align;
  alignRows?: align;
  alignColumns?: align | "baseline";
  alignGrid?: alignGrid;
  alignGridHorizontal?: alignGrid;
  alignGridVertical?: alignGrid;
  height?: string;
  width?: string;
  m?: spacingType;
  mT?: spacingType;
  mR?: spacingType;
  mB?: spacingType;
  mL?: spacingType;
  mV?: spacingType;
  mH?: spacingType;
  p?: spacingType;
  pT?: spacingType;
  pR?: spacingType;
  pB?: spacingType;
  pL?: spacingType;
  pV?: spacingType;
  pH?: spacingType;
}

// eslint-disable-next-line no-undef
const props = withDefaults(defineProps<Props>(), {
  inline: false,
});

const display = computed(() => {
  return props.inline ? "inline-grid" : "grid";
});

const gridTemplateColumns = computed(() => {
  if (typeof props.columns === "number" && props.columns > 0) {
    return `repeat(${props.columns}, 1fr)`;
  }
  if (typeof props.columns === "string") {
    return props.columns;
  }
  return props.columns;
});

const gridTemplateRows = computed(() => {
  if (typeof props.rows === "number" && props.rows > 0) {
    return `repeat(${props.rows}, 1fr)`;
  }
  if (typeof props.rows === "string") {
    return props.rows;
  }
  return props.rows;
});

const gap = computed(() => {
  if (props.rowGap || props.columnGap) {
    return props.rowGap + " " + props.columnGap;
  } else if (props.gap === "gap") {
    return "var(--gap)";
  } else if (props.gap !== "0") {
    return props.gap;
  } else {
    return undefined;
  }
});

const justifyItems = computed(() => props.align || props.alignRows);
const alignItems = computed(() => props.align || props.alignColumns);
const justifyContent = computed(
  () => props.alignGrid || props.alignGridHorizontal
);
const alignContent = computed(() => props.alignGrid || props.alignGridVertical);

const XGrid = ref();
onMounted(() => {
  reactiveStyles(XGrid.value, {
    display, // you can use the object shorthand
    gridTemplateColumns,
    gridTemplateRows,
    gap,
    justifyItems,
    "align-items": alignItems, // you can write the exact CSS property name, too
    justifyContent,
    alignContent,
    height: toRef(props, "height"), // you can also assign values directly from the props if you use toRef()
    width: toRef(props, "width"),
    margin: getMargin(props),
    padding: getPadding(props),
  });
});
</script>
