<template>
  <XFlex gap="0.4rem">
    <label class="p2" :class="props.color" :for="idFor">
      <slot></slot>
    </label>
    <p v-if="required" class="required p3">*</p>
    <span class="material-icons label-icon">{{ icon }}</span>
  </XFlex>
</template>

<script setup lang="ts">
import { withDefaults } from "vue";
import XFlex from "@/components/old/XFlex.vue";

interface Props {
  idFor?: string;
  required?: boolean;
  icon?: string;
  color?: "secondary" | "primary";
}

// eslint-disable-next-line no-undef
const props = withDefaults(defineProps<Props>(), {
  required: false,
  color: "primary",
});
</script>

<style scoped lang="scss">
label {
  white-space: nowrap;

  &.secondary {
    color: var(--ui-content2);
  }

  &.primary {
    color: var(--ui-content1);
  }
}

.label-icon {
  font-size: 1.6rem;
  width: fit-content;
  align-self: center;
}

.required {
  color: var(--red-base);
}
</style>
