<template>
  <div>
    <div v-if="errorMsg" class="errorMsg message-container">
      <span class="material-icons"> error </span>
      <p class="p3">{{ errorMsg }}</p>
    </div>
    <div v-else-if="successMsg" class="successMsg message-container">
      <span class="material-icons"> check_circle </span>
      <p class="p3">{{ successMsg }}</p>
    </div>
    <p v-if="hint" class="p3 hint-text">{{ hint }}</p>
  </div>
</template>

<script setup lang="ts">
interface Props {
  hint?: string;
  errorMsg?: string;
  successMsg?: string;
}

// eslint-disable-next-line no-undef
defineProps<Props>();
</script>

<style scoped lang="scss">
.hint-text {
  color: var(--ui-content3);
}

.message-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 0.4rem;
}

.errorMsg {
  color: var(--red-base);
  span {
    color: var(--red-base);
    font-size: 1.6rem;
  }
}

.successMsg {
  color: var(--green-base);
  span {
    color: var(--green-base);
    font-size: 1.6rem;
  }
}
</style>
