<template>
  <InputWrapper
    :margin="margin"
    :width="width"
    :label="label"
    :label-icon="labelIcon"
    :label-color="labelColor"
    :required="required"
    :hint-text="hint"
    :error-msg="errorMsg"
    :success-msg="successMsg"
  >
    <select
      ref="XSelect"
      :id="label ? label.split(' ').join('-') : undefined"
      :name="label ? `${label.split(' ').join('-')}-select` : undefined"
      :class="[textClass, size, type, { icon }]"
      :disabled="disabled"
      v-model="selectValue"
    >
      <option value="" selected disabled hidden>{{ placeholder }}</option>
      <option v-for="(option, i) in options" :key="i" :value="option">
        {{ option }}
      </option>
    </select>
    <span v-if="icon" class="material-icons select-icon">{{ icon }}</span>
  </InputWrapper>
</template>

<script setup lang="ts">
import InputWrapper from "@/components/old/InputWrapper.vue";
import { computed, ComputedRef, onMounted, ref, withDefaults } from "vue";
import { storeToRefs } from "pinia";
import { spacingType, useUIStore } from "@/stores/gds/uiStore";

const store = useUIStore();
const { getMargin, reactiveStyles } = store;
const { theme } = storeToRefs(store);

interface Props {
  options: string[];
  type?: "default" | "borderless";
  size?: "large" | "medium" | "small";
  width?: string;
  modelValue?: string;
  placeholder?: string;
  icon?: string;
  label?: string;
  labelIcon?: string;
  labelColor?: "secondary" | "primary";
  required?: boolean;
  disabled?: boolean;
  hint?: string;
  errorMsg?: string;
  successMsg?: string;
  m?: spacingType;
  mT?: spacingType;
  mR?: spacingType;
  mB?: spacingType;
  mL?: spacingType;
  mV?: spacingType;
  mH?: spacingType;
}

// eslint-disable-next-line no-undef
const props = withDefaults(defineProps<Props>(), {
  type: "default",
  size: "medium",
  width: "100%",
  modelValue: "",
  placeholder: "Select",
  required: false,
});

const margin: ComputedRef<string | undefined> = getMargin(props);

// eslint-disable-next-line no-undef
const emit = defineEmits(["update:modelValue"]);

/* eslint-disable vue/return-in-computed-property */
const width = computed(() => {
  return props.width;
});
const textClass = computed(() => {
  if (props.size === "large") return "p1";
  if (props.size === "medium") return "p2";
  if (props.size === "small") return "p3";
});
const gridRow = ref(
  props.label || props.labelIcon || props.required ? "2 / 3" : "1 / 2"
);

const localValue = ref(props.modelValue);
const selectValue = computed({
  get() {
    return props.modelValue;
  },
  set(value: string) {
    localValue.value = value;
    emit("update:modelValue", value);
  },
});

const color = computed(() => {
  if (theme.value === "light") {
    if (selectValue.value || localValue.value) {
      return "#585757";
    }
    if (!selectValue.value || !localValue.value) {
      return "#969696";
    }
  }
  if (theme.value === "dark") {
    if (selectValue.value || localValue.value) {
      return "#bababa";
    }
    if (!selectValue.value || !localValue.value) {
      return "#767676";
    }
  }
});

const XSelect = ref();
onMounted(() => {
  reactiveStyles(XSelect.value, { color, gridRow });
});
</script>

<style scoped lang="scss">
.select-container {
  position: relative;
  width: 100%;
}

.select-icon {
  position: absolute;
  height: 100%;
  display: inline-flex;
  align-items: center;
  z-index: 99;
}

select {
  appearance: none;
  width: 100%;
  font-family: var(--sans-serif);
  background: var(--ui-bg-primary);
  box-shadow: var(--shadow1);
  border-radius: var(--radius);
  border: var(--border) var(--ui-border);

  grid-column: 1 / -1;
  background-image: url("@/assets/gds/icons/unfold_more/unfold_more_light.svg");
  background-repeat: no-repeat;
  background-position: calc(100% - 1.2rem) center;

  user-select: none;
  cursor: pointer;
  transition: all 0.18s, background 0s;
}

select.borderless:disabled,
select.borderless {
  border: var(--border) var(--ui-bg-primary);
  box-shadow: none;
}

.large {
  height: 5.2rem;
  padding: 1rem 3.2rem 1rem 1.6rem;
  background-size: 10px;
  line-height: 2rem;
  &.icon {
    padding: 1rem 3.2rem 1rem 4.8rem;
  }
  & + .select-icon {
    left: 1.6rem;
    font-size: 2.4rem;
  }
}
.medium {
  height: 4rem;
  padding: 0.8rem 3.2rem 0.8rem 1.2rem;
  background-size: 8px;
  line-height: 1.6rem;
  &.icon {
    padding: 0.8rem 3.2rem 0.8rem 4rem;
  }
  & + .select-icon {
    left: 1.2rem;
    font-size: 2rem;
  }
}
.small {
  height: 2.8rem;
  padding: 0.4rem 1.6rem 0.4rem 0.8rem;
  background-size: 6px;
  line-height: 1.2rem;
  &.icon {
    padding: 0.4rem 1.6rem 0.4rem 2.8rem;
  }
  & + .select-icon {
    left: 0.8rem;
    font-size: 1.6rem;
  }
}

html[data-theme="light"] {
  select {
    background-image: url("@/assets/gds/icons/unfold_more/unfold_more_light.svg");
  }

  select:disabled {
    background-image: url("@/assets/gds/icons/unfold_more/unfold_more_light_disabled.svg");
  }
}

html[data-theme="dark"] {
  select {
    background-image: url("@/assets/gds/icons/unfold_more/unfold_more_dark.svg");
  }

  select:disabled {
    background-image: url("@/assets/gds/icons/unfold_more/unfold_more_dark_disabled.svg");
  }
}

select:disabled {
  border: var(--border) var(--ui-border-disabled);
}

select:disabled,
select:disabled + span {
  cursor: default;
  color: var(--ui-content3-disabled);
}
</style>
