<template>
  <InputWrapper
    :margin="margin"
    :width="width"
    :id="$attrs.id"
    :label="label"
    :label-icon="labelIcon"
    :label-color="labelColor"
    :required="required"
    :hint-text="hint"
    :error-msg="errorMsg"
    :success-msg="successMsg"
  >
    <!--      <span-->
    <!--        class="material-icons icon-left"-->
    <!--        :class="{ disabledIcon: disabled }"-->
    <!--        >{{ iconLeft }}</span-->
    <!--      >-->
    <input
      :id="$attrs.id || label ? label.split(' ').join('-') : undefined"
      :name="$attrs.id || label ? label.split(' ').join('-') : undefined"
      :type="type"
      :class="[`height-${size}`, textClass]"
      :value="modelValue"
      @input="$emit('update:modelValue', $event.target.value)"
      :placeholder="placeholder"
      :disabled="disabled"
      :required="required"
    />
    <!--      <span-->
    <!--        class="material-icons icon-right"-->
    <!--        :class="{ disabledIcon: disabled }"-->
    <!--        >{{ iconRight }}</span-->
    <!--      >-->
  </InputWrapper>
</template>

<script setup lang="ts">
import InputWrapper from "@/components/old/InputWrapper.vue";
import { computed, ComputedRef, withDefaults } from "vue";

import { spacingType, useUIStore } from "@/stores/gds/uiStore";
const store = useUIStore();
const { getMargin } = store;

interface Props {
  type?: "text" | "email" | "password" | "tel" | "url";
  size?: "large" | "medium" | "small";
  width?: string;
  modelValue?: unknown;
  label?: string;
  labelIcon?: string;
  labelColor?: "secondary" | "primary";
  required?: boolean;
  disabled?: boolean;
  placeholder?: string;
  // iconLeft?: string;
  // iconRight?: string;
  hint?: string;
  errorMsg?: string;
  successMsg?: string;
  m?: spacingType;
  mT?: spacingType;
  mR?: spacingType;
  mB?: spacingType;
  mL?: spacingType;
  mV?: spacingType;
  mH?: spacingType;
}

// eslint-disable-next-line no-undef
const props = withDefaults(defineProps<Props>(), {
  type: "text",
  size: "medium",
  width: "100%",
  required: false,
  disabled: false,
});

const textClass = computed(() => {
  if (props.size === "large") return "p1";
  if (props.size === "medium") return "p2";
  if (props.size === "small") return "p3";
  return "p2";
});
const width = computed(() => {
  return props.width;
});
const margin: ComputedRef<string | undefined> = getMargin(props);

// eslint-disable-next-line no-undef
defineEmits(["update:modelValue"]);
</script>

<style scoped lang="scss">
.text-field-container {
  position: relative;
}

input {
  width: 100%;
  //padding-left: var(--s8);
  //padding-right: var(--s8);
  border-radius: var(--radius);
  font-family: var(--sans-serif);
  text-indent: 1.2rem;
  color: var(--ui-content2);
  background-color: var(--ui-bg-primary);
  border: var(--border) var(--ui-border);
  position: relative;
  transition: all 0.18s, background 0s;
}

input:disabled {
  color: var(--ui-content2-disabled);
  background-color: var(--ui-bg-primary-disabled);
  border: var(--border) var(--ui-border-disabled);
}

input::placeholder {
  color: var(--ui-content3);
}

input:disabled::placeholder {
  color: var(--ui-content3-disabled);
}

.icon-left,
.icon-right {
  position: absolute;
  font-size: 2rem;
  top: 1rem;
  z-index: 99;
}

.icon-left {
  left: 1.2rem;
}

.icon-right {
  right: 1.2rem;
  transform: translateX(0.8rem);
}

.disabledIcon {
  color: var(--ui-content3-disabled);
}
</style>
