<template>
  <div class="toggle-container" ref="XToggle">
    <input
      :class="type"
      :type="type === 'radio' ? 'radio' : 'checkbox'"
      :name="type === 'radio' ? 'radio' : undefined"
      :checked="toggled"
      :disabled="disabled"
      v-model="value"
    />
    <label class="p2 form-label">{{ label }}</label>
    <p v-if="hint && label" class="p3 form-hint">{{ hint }}</p>
  </div>
</template>

<script setup lang="ts">
import { computed, onMounted, ref, withDefaults } from "vue";
import { spacingType, useUIStore } from "@/stores/gds/uiStore";

const store = useUIStore();
const { reactiveStyles, getMargin } = store;

interface Props {
  type?: "switch" | "checkbox" | "radio";
  label?: string;
  hint?: string;
  modelValue?: any;
  toggled?: boolean;
  disabled?: boolean;
  m?: spacingType;
  mT?: spacingType;
  mR?: spacingType;
  mB?: spacingType;
  mL?: spacingType;
  mV?: spacingType;
  mH?: spacingType;
}

// eslint-disable-next-line no-undef,@typescript-eslint/no-unused-vars
const props = withDefaults(defineProps<Props>(), {
  type: "switch",
  toggled: false,
  disabled: false,
});

// eslint-disable-next-line no-undef
const emit = defineEmits(["update:modelValue"]);

const value = computed({
  get() {
    return props.modelValue;
  },
  set(value: boolean) {
    emit("update:modelValue", value);
  },
});

const XToggle = ref();
onMounted(() => {
  reactiveStyles(XToggle.value, { margin: getMargin(props) });
});
</script>

<style scoped lang="scss">
.toggle-container {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto auto;
  height: fit-content;
  column-gap: 0.8rem;
  row-gap: 0.4rem;
}

.form-label {
  color: var(--ui-content2);
  align-self: center;
  transform: translateY(-0.1rem);
  justify-self: start;
}

.form-hint {
  color: var(--ui-content3);
  grid-row: 2 / -1;
  grid-column: 2 / -1;
}

// TOGGLES
.toggle-container:has(> input) {
  position: relative;
}

.toggle-container > input {
  opacity: 0;
  height: var(--s5);
  width: var(--s5);
  position: absolute;
  z-index: 999;
  left: 0;
  top: 0;
  cursor: pointer;
}

.toggle-container > input.switch {
  width: 4rem;
  height: 2rem;
}

.toggle-container > input:disabled {
  cursor: default;
}

.toggle-container:has(> input)::before {
  content: "";
  box-sizing: border-box;
  display: block;
  height: var(--s5);
  width: var(--s5);
  border: var(--border) var(--ui-border);
  border-radius: calc(var(--radius) / 2);
  box-shadow: var(--shadow1);
  transition: all 0.18s;
}

.toggle-container:has(> input.switch)::before {
  width: 4rem;
  height: 2rem;
  border-radius: 9999rem;
  background-color: var(--ui-border);
  transition: all 0.27s;
}

.toggle-container:has(> input.switch:disabled)::before {
  background-color: var(--ui-bg-secondary);
  border: var(--border) var(--ui-bg-secondary);
}

.toggle-container:has(> input.checkbox)::before {
  border-radius: calc(var(--radius) / 2);
}

.toggle-container:has(> input.radio)::before {
  border-radius: 50%;
}

.toggle-container:has(> input:checked)::before {
  border: var(--border) var(--primary-base);
  background-color: var(--primary-base);
  box-shadow: var(--shadow2);
}

.toggle-container:has(> input:disabled)::before {
  border: var(--border) var(--ui-border-disabled);
  background-color: var(--ui-bg-primary-disabled);
}

.toggle-container:has(> input:checked:disabled)::before {
  border: var(--border) var(--primary-disabled);
  background-color: var(--primary-disabled);
}

.toggle-container:has(> input:focus-visible)::before {
  outline: var(--border) var(--primary-base);
  outline-offset: 0.2rem;
  transition: 0s;
}

.toggle-container:has(> input)::after {
  content: "";
  position: absolute;
  display: block;
  opacity: 0;
  transition: all 0.18s;
}

.toggle-container:has(> input.switch)::after {
  content: "";
  opacity: 1;
  position: absolute;
  height: 1.4rem;
  width: 1.4rem;
  margin: 0.3rem;
  background-color: var(--white);
  box-shadow: var(--shadow3);
  border-radius: 50%;
  transition: all 0.27s;
}

.toggle-container:has(> input.switch:checked)::after {
  transform: translateX(2rem);
}

.toggle-container:has(> input.switch:disabled)::after {
  background-color: var(--white-disabled);
}

.toggle-container:has(> input.checkbox)::after {
  width: 1rem;
  height: 0.75rem;
  margin: 0.625rem 0.5rem;
  background-image: url("@/assets/gds/icons/check/check.svg");
}

.toggle-container:has(> input.checkbox:disabled)::after {
  background-image: url("@/assets/gds/icons/check/check_disabled.svg");
}

.toggle-container:has(> input.radio)::after {
  width: 0.8rem;
  height: 0.8rem;
  margin: 0.6rem;
  background-image: url("@/assets/gds/icons/dot/dot.svg");
}

.toggle-container:has(> input.radio:disabled)::after {
  background-image: url("@/assets/gds/icons/dot/dot_disabled.svg");
}

.toggle-container:has(> input:checked)::after {
  opacity: 1;
}

html[data-theme="dark"] {
  .toggle-container:has(> input.checkbox:disabled)::after {
    background-image: url("@/assets/gds/icons/check/check_dark_disabled.svg");
  }
  .toggle-container:has(> input.radio:disabled)::after {
    background-image: url("@/assets/gds/icons/dot/dot_dark_disabled.svg");
  }
}
</style>
