<template>
  <Listbox v-model="selection">
    <div class="relative">
      <ListboxButton
        :class="[
          'select',
          size,
          type,
          selection ? 'text-ui-800' : 'text-ui-700',
        ]"
        :disabled="disabled"
        :id="id"
        ><span v-if="icon" class="material-icons select-icon-left">{{
          icon
        }}</span
        >{{ selection || placeholder || "Select"
        }}<UnfoldMoreIcon :disabled="disabled"
      /></ListboxButton>
      <transition
        leave-active-class="transition duration-100 ease-in"
        leave-from-class="opacity-100"
        leave-to-class="opacity-0"
      >
        <ListboxOptions class="select-picker">
          <ListboxOption
            v-slot="{ active, selected }"
            v-for="s in options"
            :value="s"
            :key="s"
          >
            <li
              :class="[
                'select-option',
                active ? 'bg-primary-100' : 'bg-ui-100',
              ]"
            >
              {{ s
              }}<span v-if="selected" class="material-icons select-option-icon"
                >check</span
              >
            </li>
          </ListboxOption>
        </ListboxOptions>
      </transition>
    </div>
  </Listbox>
</template>

<script setup lang="ts">
import {
  Listbox,
  ListboxButton,
  ListboxOption,
  ListboxOptions,
} from "@headlessui/vue";
import UnfoldMoreIcon from "@/assets/gds/icons/unfold_more/UnfoldMoreIcon.vue";
import { computed, useAttrs } from "vue";

interface Props {
  modelValue: string | number | boolean | object | null;
  options: (string | number | boolean | object | null)[];
  placeholder?: string;
  type?: "select" | "select-borderless";
  size?: "select-sm" | "select-md" | "select-lg";
  icon?: string;
  disabled?: boolean;
  id?: string;
}

const props = withDefaults(defineProps<Props>(), {
  type: "select",
});

const emit = defineEmits(["update:modelValue"]);

const selection = computed({
  get() {
    return props.modelValue;
  },
  set(value: string | number | boolean | object | null) {
    emit("update:modelValue", value);
  },
});

const attrs = useAttrs();
console.log(attrs.class);
</script>
