<template>
  <Switch
    v-model="enabled"
    :class="enabled ? 'bg-primary-500' : 'bg-ui-300'"
    class="toggle group"
  >
    <span v-if="alt" class="sr-only">{{ alt }}</span>
    <span
      aria-hidden="true"
      :class="enabled ? 'translate-x-5' : 'translate-x-0'"
      class="toggle-dot group-disabled:shadow-none"
    />
  </Switch>
</template>

<script setup lang="ts">
import { computed } from "vue";
import { Switch } from "@headlessui/vue";

interface Props {
  modelValue: boolean;
  alt?: string;
}
const props = defineProps<Props>();

const emit = defineEmits(["update:modelValue"]);

const enabled = computed({
  get() {
    return props.modelValue;
  },
  set(value: boolean) {
    emit("update:modelValue", value);
  },
});
</script>
