@layer components {
  .btn {
    @apply flex items-center justify-center
    rounded-lg text-base font-medium
    h-10 w-fit px-3 py-2
    transition-colors select-none
    focus-visible:outline focus-visible:outline-1 focus-visible:outline-offset-2 focus-visible:outline-primary-500 focus-visible:transition-none;
  }
  .btn-square, .btn-circle {
    @apply w-10;
  }
  .btn-sm {
    @apply h-7 px-2 py-1 text-sm;
    &.btn-square, &.btn-circle {
      @apply w-7;
    }
  }
  .btn-md {
    @apply h-10 px-3 py-2 text-base;
    &.btn-square, &.btn-circle {
      @apply w-10;
    }
  }
  .btn-lg {
    @apply h-13 px-4 py-3 text-xl;
    &.btn-square, &.btn-circle {
      @apply w-13;
    }
  }
  .btn-circle {
    @apply rounded-full;
  }
  .btn-primary {
    @apply text-white bg-primary-500 shadow
    hover:bg-primary-400
    disabled:hover:bg-primary-500
    focus-visible:bg-primary-400
    active:bg-primary-600
    disabled:active:bg-primary-500;
  }
  .btn-secondary {
    @apply border border-solid border-ui-300 bg-ui-100 text-ui-900 shadow
    hover:bg-ui-200
    disabled:hover:bg-ui-100
    focus-visible:bg-ui-200
  }
  .btn-borderless {
    @apply text-primary-500 bg-transparent
    hover:bg-primary-100
    disabled:hover:bg-transparent
    focus-visible:bg-primary-100
    active:bg-transparent
    disabled:active:bg-transparent;
  }
}