// GLOBAL RESET & DEFAULTS
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

*:focus-visible {
  transition: 0s;
}

@layer base {
  html {
    @apply overflow-x-hidden;
  }

  body {
    @apply font-sans font-normal text-ui-900 bg-ui-100 overflow-x-hidden;
  }
}

@layer components {
  .material-icons {
    @apply text-ui-700 select-none;
  }
}
