@layer components {
  .input {
    @apply rounded-lg border border-solid border-ui-300
    indent-3 h-10 pr-3 py-2 text-base w-full text-ui-800 bg-ui-100
    focus-visible:outline-0 focus-visible:border-primary-500 focus-visible:shadow-focus focus-visible:shadow-primary-500
    transition;
  }
  .input-sm {
    @apply h-7 pr-2 py-1 text-sm indent-2;
  }
  .input-md {
    @apply h-10 pr-3 py-2 text-base;
  }
  .input-lg {
    @apply h-13 pr-4 py-3 text-xl;
  }
}