@layer components {
  .select {
    @apply flex justify-between items-center gap-2
    border border-solid border-ui-300
    rounded-lg text-ui-800 bg-ui-100
    h-10 w-full px-3 py-2 text-base
    focus-visible:outline-0 focus-visible:border-primary-500 focus-visible:shadow-focus focus-visible:shadow-primary-500
    transition;
  }
  .select-borderless {
    @apply border-0 bg-transparent
    focus-visible:border;
  }
  .select-picker {
    @apply absolute overflow-auto left-0 z-30
    py-2 mt-1.5 max-h-60 min-w-full max-w-fit
    border border-solid border-ui-300
    bg-ui-100 rounded-lg shadow-xl
    focus-visible:outline-0 focus-visible:border-primary-500 focus-visible:shadow-focus focus-visible:shadow-primary-500
    transition;
  }
  .select-option {
    @apply relative flex pl-12 py-2 pr-4 whitespace-nowrap
    cursor-pointer transition text-ui-800;
  }
  .select-option-icon {
    @apply absolute left-0 inset-y-0 flex items-center px-3 text-primary-500;
  }
  .select-icon {
    @apply flex justify-center w-2 h-auto text-xl fill-ui-700 transition-colors;
  }
  .select-icon-left {
    @apply text-ui-700
  }
  .select-sm {
    @apply gap-1 h-7 px-2 py-1 text-sm;
    .select-icon {
      @apply w-1.5;
    }
    .select-icon-left {
      @apply text-base;
    }
  }
  .select-md {
    @apply gap-2 h-10 px-3 py-2 text-base;
    .select-icon {
      @apply w-2;
    }
    .select-icon-left {
      @apply text-xl;
    }
  }
  .select-lg {
    @apply gap-3 h-13 px-4 py-3 text-xl;
    .select-icon {
      @apply w-2.5;
    }
    .select-icon-left {
      @apply text-2xl;
    }
  }
}