@layer components {
  .toggle {
    @apply relative inline-flex items-center
    h-5 w-10 shrink-0 cursor-pointer rounded-full
    border-[3px] border-transparent
    transition-colors duration-200 ease-in-out
    disabled:cursor-default
    focus-visible:outline focus-visible:outline-1 focus-visible:outline-offset-2 focus-visible:outline-primary-500 focus-visible:transition-none;
  }
  .toggle-dot {
    @apply pointer-events-none inline-block
    h-3.5 w-3.5 transform rounded-full
    bg-white shadow-xl ring-0
    transition duration-200 ease-in-out;
  }
}

@layer components {
  .checkbox {
    @apply appearance-none w-5 h-5 rounded bg-ui-100
    border border-solid border-ui-300 shadow
    transition-[background-image_background-color_border] duration-100 ease-in-out
    hover:cursor-pointer
    checked:bg-primary-500 checked:border-primary-500
    checked:bg-[url("@/assets/gds/icons/check/check.svg")]
    checked:bg-[length:10px] checked:bg-no-repeat checked:bg-center
    disabled:cursor-default
    disabled:checked:bg-[url("@/assets/gds/icons/check/check_disabled.svg")]
    dark:disabled:checked:bg-[url("@/assets/gds/icons/check/check_dark_disabled.svg")];
  }
}

@layer components {
  .radio {
    @apply appearance-none w-5 h-5 rounded-full bg-ui-100
    border border-solid border-ui-300 shadow
    transition-[background-image_background-color_border] duration-100 ease-in-out
    hover:cursor-pointer
    checked:bg-primary-500 checked:border-primary-500
    checked:bg-[url("@/assets/gds/icons/dot/dot.svg")]
    checked:bg-[length:8px] checked:bg-no-repeat checked:bg-center
    disabled:cursor-default
    disabled:checked:bg-[url("@/assets/gds/icons/dot/dot_disabled.svg")]
    dark:disabled:checked:bg-[url("@/assets/gds/icons/dot/dot_dark_disabled.svg")];
  }
}