<template>
  <div>
    <Preview
      name="Button"
      description="Same styles for all <button> <a> and <router-link> elements."
      :columns="3"
    >
      <template v-slot:preview>
        <button
          class="transition"
          :class="`btn ${size} ${type}`"
          :disabled="disabled"
        >
          {{ text }}
        </button>
      </template>
      <template v-slot:inputs>
        <div class="form-input">
          <label for="text">Text</label>
          <input name="text" type="text" class="input" v-model="text" />
        </div>
        <div class="form-input">
          <label>Type</label>
          <XSelect2
            :options="['btn-primary', 'btn-secondary', 'btn-borderless']"
            v-model="type"
          />
        </div>
        <div class="form-input">
          <label>Size</label>
          <XSelect2 :options="['btn-sm', 'btn-md', 'btn-lg']" v-model="size" />
        </div>
        <div class="form-toggle">
          <XToggle2 v-model="disabled" />
          <label class="form-label">Disabled</label>
        </div>
      </template>
    </Preview>
  </div>
</template>

<script setup lang="ts">
import Preview from "@/components/Preview.vue";
import { type Ref, ref } from "vue";
import XSelect2 from "@/components/gds/XSelect.vue";
import XToggle2 from "@/components/gds/XToggle.vue";

const text = ref("Learn More");
const size: Ref<"btn-lg" | "btn-md" | "btn-sm"> = ref("btn-md");
const type: Ref<"btn-primary" | "btn-secondary" | "btn-borderless"> =
  ref("btn-secondary");
const disabled = ref(false);
</script>
