<template>
  <Preview name="Select" description="A drop-down menu holding strings.">
    <template v-slot:preview>
      <XSelect2
        :type="type"
        :size="size"
        :icon="icon"
        :options="options"
        :disabled="disabled"
        v-model="value"
      ></XSelect2>
    </template>
    <template v-slot:inputs>
      <div class="form-input">
        <label>Type</label>
        <XSelect2 v-model="type" :options="['select', 'select-borderless']" />
      </div>
      <div class="form-input">
        <label>Size</label>
        <XSelect2
          v-model="size"
          :options="['select-lg', 'select-md', 'select-sm']"
        />
      </div>
      <div class="form-input">
        <label>Placeholder</label>
        <input class="input" type="text" v-model="placeholder" />
        <p class="form-hint">A single-word placeholder is recommended.</p>
      </div>
      <div class="form-input">
        <label>Icon</label>
        <input class="input" type="text" v-model="icon" />
        <p class="form-hint">
          Must be a valid Material Icons/Google Fonts name.
        </p>
      </div>
      <div class="form-toggle">
        <XToggle2 v-model="disabled" />
        <label class="form-label">Disabled</label>
      </div>
    </template>
  </Preview>
</template>

<script setup lang="ts">
import XSelect2 from "@/components/gds/XSelect.vue";
import XToggle2 from "@/components/gds/XToggle.vue";
import Preview from "@/components/Preview.vue";
import { Ref, ref } from "vue";

const options = ref(["option 1", "option 2", "option 3"]);
const type: Ref<string> = ref("select");
const size: Ref<string> = ref("select-md");
const placeholder = ref("Select");
const icon = ref("");
const disabled = ref(false);
const value = ref("");
</script>
