<template>
  <Preview name="TextField" description="An input for text.">
    <template v-slot:preview>
      <div class="form-input">
        <label for="input">{{ label }}</label>
        <input
          class="input"
          :class="size"
          id="input"
          :type="type"
          :required="required"
          :disabled="disabled"
          :placeholder="placeholder"
        />
        <p class="form-hint">{{ errorMsg || successMsg || hint }}</p>
      </div>
    </template>
    <template v-slot:inputs>
      <div class="form-input">
        <label class="form-label">Type</label>
        <XSelect2
          :options="['text', 'email', 'password', 'tel', 'url']"
          v-model="type"
        />
      </div>
      <div class="form-input">
        <label class="form-label">Size</label>
        <XSelect2
          :options="['input-lg', 'input-md', 'input-sm']"
          v-model="size"
        />
      </div>
      <div class="form-input">
        <label class="form-label">Placeholder</label>
        <input type="text" class="input" v-model="placeholder" />
      </div>
      <div class="form-input">
        <label class="form-label">Label</label>
        <input type="text" class="input" v-model="label" />
      </div>
      <div class="form-input">
        <label class="form-label">Hint</label>
        <input type="text" class="input" v-model="hint" />
      </div>
      <div class="form-input">
        <label class="form-label">Error Message</label>
        <input type="text" class="input" v-model="errorMsg" />
      </div>
      <div class="form-input">
        <label class="form-label">Success Message</label>
        <input type="text" class="input" v-model="successMsg" />
      </div>
      <div>
        <div class="form-toggle">
          <XToggle2 v-model="required" />
          <label class="form-label">Required</label>
        </div>
        <div class="form-toggle">
          <XToggle2 v-model="disabled" />
          <label class="form-label">Disabled</label>
        </div>
      </div>
    </template>
  </Preview>
</template>

<script setup lang="ts">
import XSelect2 from "@/components/gds/XSelect.vue";
import XToggle2 from "@/components/gds/XToggle.vue";
import Preview from "@/components/Preview.vue";
import { Ref, ref } from "vue";

const type: Ref<"text" | "email" | "password" | "tel" | "url"> = ref("text");
const size: Ref<string> = ref("input-md");
const label = ref();
const required = ref(false);
const disabled = ref(false);
const placeholder = ref();
const hint = ref("");
const errorMsg = ref("");
const successMsg = ref("");
</script>
