<template>
  <Preview
    name="Toggle"
    description="A switch, checkbox, and radio button in one."
  >
    <template v-slot:preview>
      <div v-if="type === 'switch'" class="form-toggle">
        <XToggle2 :disabled="disabled" v-model="value" />
        <label class="form-label">{{ label }}</label>
        <p class="form-hint">{{ hint }}</p>
      </div>
      <div v-else-if="type === 'checkbox'" class="form-toggle">
        <input class="checkbox" type="checkbox" :disabled="disabled" />
        <label class="form-label">{{ label }}</label>
        <p class="form-hint">{{ hint }}</p>
      </div>
      <div v-else-if="type === 'radio'" class="form-toggle">
        <input class="radio" type="radio" :disabled="disabled" />
        <label class="form-label">{{ label }}</label>
        <p class="form-hint">{{ hint }}</p>
      </div>
    </template>
    <template v-slot:inputs>
      <div class="form-input">
        <label>Type</label>
        <XSelect2 :options="['switch', 'checkbox', 'radio']" v-model="type" />
      </div>
      <div class="form-input">
        <label>Label</label>
        <input type="text" class="input" v-model="label" />
      </div>
      <div class="form-input">
        <label>Hint</label>
        <input type="text" class="input" v-model="hint" />
      </div>
      <div class="form-toggle">
        <XToggle2 v-model="disabled" />
        <label class="form-label">Disabled</label>
      </div>
    </template>
  </Preview>
</template>

<script setup lang="ts">
import XSelect2 from "@/components/gds/XSelect.vue";
import XToggle2 from "@/components/gds/XToggle.vue";
import Preview from "@/components/Preview.vue";
import { Ref, ref } from "vue";

const type: Ref<"switch" | "checkbox" | "radio"> = ref("switch");
const label = ref("");
const hint = ref("");
const disabled = ref(false);
const value = ref(false);
</script>
