<template>
  <section>
    <div class="m-6 flex flex-col">
      <h1 class="text-5xl font-bold tracking-tight">{{ name }}</h1>
      <p class="mt-2">{{ description }}</p>
    </div>
    <div class="flex items-center justify-center h-[33vh] mb-12 mx-6">
      <slot name="preview"></slot>
    </div>
    <div class="grid gap-6 mb-12 m-6 items-start grid-cols-4">
      <slot name="inputs"></slot>
    </div>
  </section>
</template>

<script setup lang="ts">
import { withDefaults } from "vue";

interface Props {
  name: string;
  description?: string;
  columns?: number;
}

// eslint-disable-next-line no-undef
withDefaults(defineProps<Props>(), {
  columns: 4,
});
</script>
