<template>
  <div
    class="flex min-h-screen flex-col border-r border-solid border-ui-300 p-6"
  >
    <div class="form-toggle mb-6">
      <XToggle2 v-model="darkTheme"></XToggle2>
      <label class="form-label">Dark Mode</label>
    </div>
    <p class="mb-2 text-xs uppercase text-ui-900">Elements</p>
    <router-link :to="{ name: 'XButton' }" class="btn btn-borderless"
      >Button</router-link
    >
    <router-link :to="{ name: 'XSelect' }" class="btn btn-borderless"
      >Select</router-link
    >
    <router-link :to="{ name: 'XTextField' }" class="btn btn-borderless"
      >TextField</router-link
    >
    <router-link :to="{ name: 'XToggle' }" class="btn btn-borderless"
      >Toggle</router-link
    >
  </div>
</template>

<script setup lang="ts">
import XToggle2 from "@/components/gds/XToggle.vue";
import { useUIStore } from "@/stores/gds/uiStore";
import { storeToRefs } from "pinia";
import { ref, watch } from "vue";

const store = useUIStore();
const { toggleTheme } = store;
const { theme } = storeToRefs(store);

const darkTheme = ref(false);
darkTheme.value = theme.value === "dark";

watch(darkTheme, () => {
  toggleTheme();
});
</script>
