<template>
  <div class="grid grid-cols-[16rem_1fr] bg-ui-100">
    <SideBar></SideBar>
    <router-view />
  </div>
</template>

<script setup lang="ts">
import SideBar from "@/components/SideBar";
</script>
